<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=workout-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>
        <h1>5x5x5 Workout API</h1>
        
        <ul class="workouts">
        <% for(let i=0; i < info.length; i++) {%> 
            <li class="workout">
                <span><%= info[i].exercise %></span>
                <span><%= info[i].group %></span>
                <span><%= info[i].sets %></span>
                <span><%= info[i].reps %></span>
                <span><%= info[i].difficulty %></span>
                <span><%= info[i].likes %></span>
                <span class='fa fa-thumbs-up'></span>
                <span class='fa fa-trash'></span>
            </li>
        <% } %>
        </ul>

        <h2>Input Workout:</h2>

        <form action="/addWorkout/muscle/workout" method="POST">
            <input type="text" name="exercise" placeholder="Exercise (e.g., Bench Press)">
            <select type="text" name="group" placeholder="Muscle Group (e.g., Chest)">
                <option value="chest">Chest</option>
                <option value="back">Back</option>
                <option value="shoulders">Shoulders</option>
                <option value="biceps">Biceps</option>
                <option value="triceps">Triceps</option>
                <option value="legs">Legs</option>
            </select>
            <input type="number" name="sets" placeholder="Sets">
            <input type="number" name="reps" placeholder="Reps">
            <select type="text" name="difficulty" placeholder="Difficulty (e.g., Intermediate)">
                <option value="easy">Easy</option>
                <option value="intermediate">Intermediate</option>
                <option value="hard">Hard</option>
                <option value="insane">Insane</option>
              </select>
            <input type="submit" value="Add Workout">
        </form>

        <script src='js/main.js'></script>
    </body>
</html>